version: "3"

services:
  seabee-api:
    build: "./api"
    ports:
      - "9000:5000"
    env_file:
      - ./api/config/localdocker.env
      - ./api/config/secrets.env

  seabee-db:
#    image: kartoza/postgis:13.0
    image: kartoza/postgis:13.0
    env_file:
      - ./api/config/localdocker.env
    ports:
      - "9001:5432"

  db-init:
    build: "./db-init"
    env_file:
      - ./api/config/localdocker.env
    volumes:
      - ./db-init/sql:/app/sql